  <% if params[:search].present? %>
   <%= @blogs.count %> Results found.
   <% else %>
   no result found
  <% end %>
<h1>Listing blogs</h1>
 <%= link_to 'New blog', new_blog_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Image</th>
     <th>Video</th>
   <th colspan="6"></th>
  </tr>
 
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.description %></td>
      <td>  
      <%if blog.category_id.present? %> 
      <%= Category.find(blog.category_id).name %>
      <% end %>
      </td> 
      <td><%  blog.images.each do |image| %>
      <%= image_tag image.image, :height=>"200", :width=>"200" %>
      <%end%></td>
      <td><%= video_tag blog.video, :controls=>true, :height=>"200", :width=>"400" %>
      </td>
      <td><%= link_to 'Show', blog_path(blog) %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Destroy', blog_path(blog),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
     </tr>
  <% end %>
</table>